<!-- Incluimos esto para evitar repetir codigo uwu  -->
<%- include('partials/_header_msg'); -%>
    <!-- Objeto con los datos de la base de datos xd -->
    <div class="container">
        <div class="mt-4 mx-auto text-white">
            <h2>Creación de mensajes encriptados con AES</h2>
        </div>
        <div class="row row-cols-2 align-items-start  justify-content-between mt-4">
            <!-- divicion para mostrar todos los datos -->
            <div class="col-md-8">
                <table class="table table-bordered table-hover bg-white shadow p-3 mb-5 bg-white rounded">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Mensaje</th>
                            <th scope="col">Contraseña</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <!-- Secciones de ejs para mostrar datos -->
                        <% if(data) { %>

                            <% for(i=0;i<data.length;i++){ %>
                                <tr>
                                    <td>
                                        <%= i+1 %>
                                    </td>
                                    <td>
                                        <%= data[i].name_user %>
                                    </td>
                                    <td>
                                        <%= data[i].msg %>
                                    </td>
                                    <td>
                                        <%= data[i].pass %>
                                    </td>
                                </tr>
                                <!-- fin del for -->
                                <% } %>
                                    <!-- fin del IF -->
                                    <% } %>

                    </tbody>
                </table>

            </div>

            <div class="col-md-4">
                <div class="card shadow p-3 mb-5 bg-white rounded">
                    <div class="card-body">
                        <form action="/addmsg" method="POST" class="was-validated">
                            <h4 class="card-title text-center">Nuevo Mensaje</h4>
                            <div class="form-group mt-4">
                                <input type="text" name="name" value="" placeholder="Ingresa tu nombre" id="nombre"
                                    class="form-control" required>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" rows="3" name="msg" value="" placeholder="Mensaje"
                                    id="mensaje" required></textarea>
                            </div>
                            <div class="form-group">
                                <input type="password" name="password1" value="" placeholder="Contraseña"
                                    class="form-control" minlength="16" maxlength="16" onkeyup="valp1();" id="pass1"
                                    required>
                            </div>
                            <span id="vp1"></span>

                            <div class="form-group">
                                <input type="password" name="password2" value=""
                                    placeholder="Confirmación de Contraseña" class="form-control" minlength="16"
                                    maxlength="16" onkeyup="valp2();" id="pass2" required>
                            </div>
                            <span id="vp2"></span>

                            <button type="submit" class="btn btn-dark mt-4">
                                Crear <i class="fas fa-shield-alt"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        function valp1() {
            var vcla1 = document.getElementById("pass1").value;
            var disval = document.getElementById('vp1');
            var count8 = 8 - vcla1.length;
            var count16 = 16 - vcla1.length;
            if (vcla1.length == 8 || vcla1.length == 16) {
                disval.innerHTML = `<p><h6 class="text-success"> Contraseña Válida </h6></p>`;
            } else {
                if (vcla1.length < 8) {
                    disval.innerHTML = `<p><h6 class="text-warning">Contraseña Inválida te faltan ` + count8 + ` digitos para una clave de 8 caracteres</h6> </p>`;
                } else
                    if (vcla1.length > 8 && vcla1.length < 16) {
                        disval.innerHTML = `<p><h6 class="text-warning">Contraseña Inválida te faltan ` + count16 + ` digitos para una clave de 16 caracteres</h6> </p>`;
                    }
            }
        }

        function valp2() {
            var vcla1 = document.getElementById("pass1").value;
            var vcla2 = document.getElementById("pass2").value;
            var disval = document.getElementById('vp2');
            if (vcla2 == vcla1) {
                disval.innerHTML = `<p><h6 class="text-success">Las contraseñas coinciden</h6></p>`;
            } else {
                disval.innerHTML = `<p><h6 class="text-warning">Las contraseñas NO coinciden</h6></p>`;
            }
        }

        function info() {
            Swal.fire(
                '¡Importante!',
                'Decidí mostrar la contraseña con la que se cifra el mensaje en caso de que la olvides ya que sin ésta no podrás ver el mensaje descifrado nunca',
                'info'
            )
        }

        window.onload(info());

        
    </script>


<%- include('partials/_footer'); -%>